* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fav-color: #50b7f5;
}

.nav-link:hover {
  color: var(--fav-color) !important;
  transition: color 100ms ease-out;
}

.text-justify {
  text-align: justify;
}

.text-blue-py {
  color: #3776AB;
}

.text-orange-html {
  color: #E34C26;
}
.text-blue-css {
  color: #1572B6;
}

.vscode-icon {
    width: 24px; 
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Ctitle%3Efile_type_vscode%3C%2Ftitle%3E%3Cpath%20d%3D%22M29.01%2C5.03%2C23.244%2C2.254a1.742%2C1.742%2C0%2C0%2C0-1.989.338L2.38%2C19.8A1.166%2C1.166%2C0%2C0%2C0%2C2.3%2C21.447c.025.027.05.053.077.077l1.541%2C1.4a1.165%2C1.165%2C0%2C0%2C0%2C1.489.066L28.142%2C5.75A1.158%2C1.158%2C0%2C0%2C1%2C30%2C6.672V6.605A1.748%2C1.748%2C0%2C0%2C0%2C29.01%2C5.03Z%22%20style%3D%22fill%3A%230065a9%22%2F%3E%3Cpath%20d%3D%22M29.01%2C26.97l-5.766%2C2.777a1.745%2C1.745%2C0%2C0%2C1-1.989-.338L2.38%2C12.2A1.166%2C1.166%2C0%2C0%2C1%2C2.3%2C10.553c.025-.027.05-.053.077-.077l1.541-1.4A1.165%2C1.165%2C0%2C0%2C1%2C5.41%2C9.01L28.142%2C26.25A1.158%2C1.158%2C0%2C0%2C0%2C30%2C25.328V25.4A1.749%2C1.749%2C0%2C0%2C1%2C29.01%2C26.97Z%22%20style%3D%22fill%3A%23007acc%22%2F%3E%3Cpath%20d%3D%22M23.244%2C29.747a1.745%2C1.745%2C0%2C0%2C1-1.989-.338A1.025%2C1.025%2C0%2C0%2C0%2C23%2C28.684V3.316a1.024%2C1.024%2C0%2C0%2C0-1.749-.724%2C1.744%2C1.744%2C0%2C0%2C1%2C1.989-.339l5.765%2C2.772A1.748%2C1.748%2C0%2C0%2C1%2C30%2C6.6V25.4a1.748%2C1.748%2C0%2C0%2C1-.991%2C1.576Z%22%20style%3D%22fill%3A%231f9cf0%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.cpp-icon {
    width: 24px; 
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%222222%22%20height%3D%222500%22%20viewBox%3D%220%200%20256%20288%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%3E%3Cpath%20d%3D%22M255.569%2084.72c-.002-4.83-1.035-9.098-3.124-12.761-2.052-3.602-5.125-6.621-9.247-9.008-34.025-19.619-68.083-39.178-102.097-58.817-9.17-5.294-18.061-5.101-27.163.269C100.395%2012.39%2032.59%2051.237%2012.385%2062.94%204.064%2067.757.015%2075.129.013%2084.711%200%20124.166.013%20163.62%200%20203.076c.002%204.724.991%208.909%202.988%2012.517%202.053%203.711%205.169%206.813%209.386%209.254%2020.206%2011.703%2088.02%2050.547%20101.56%2058.536%209.106%205.373%2017.997%205.565%2027.17.269%2034.015-19.64%2068.075-39.198%20102.105-58.817%204.217-2.44%207.333-5.544%209.386-9.252%201.994-3.608%202.985-7.793%202.987-12.518%200%200%200-78.889-.013-118.345%22%20fill%3D%22%235C8DBC%22%2F%3E%3Cpath%20d%3D%22M128.182%20143.509L2.988%20215.593c2.053%203.711%205.169%206.813%209.386%209.254%2020.206%2011.703%2088.02%2050.547%20101.56%2058.536%209.106%205.373%2017.997%205.565%2027.17.269%2034.015-19.64%2068.075-39.198%20102.105-58.817%204.217-2.44%207.333-5.544%209.386-9.252l-124.413-72.074%22%20fill%3D%22%231A4674%22%2F%3E%3Cpath%20d%3D%22M91.101%20164.861c7.285%2012.718%2020.98%2021.296%2036.69%2021.296%2015.807%200%2029.58-8.687%2036.828-21.541l-36.437-21.107-37.081%2021.352%22%20fill%3D%22%231A4674%22%2F%3E%3Cpath%20d%3D%22M255.569%2084.72c-.002-4.83-1.035-9.098-3.124-12.761l-124.263%2071.55%20124.413%2072.074c1.994-3.608%202.985-7.793%202.987-12.518%200%200%200-78.889-.013-118.345%22%20fill%3D%22%231B598E%22%2F%3E%3Cpath%20d%3D%22M248.728%20148.661h-9.722v9.724h-9.724v-9.724h-9.721v-9.721h9.721v-9.722h9.724v9.722h9.722v9.721M213.253%20148.661h-9.721v9.724h-9.722v-9.724h-9.722v-9.721h9.722v-9.722h9.722v9.722h9.721v9.721%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M164.619%20164.616c-7.248%2012.854-21.021%2021.541-36.828%2021.541-15.71%200-29.405-8.578-36.69-21.296a42.062%2042.062%200%200%201-5.574-20.968c0-23.341%2018.923-42.263%2042.264-42.263%2015.609%200%2029.232%208.471%2036.553%2021.059l36.941-21.272c-14.683-25.346-42.096-42.398-73.494-42.398-46.876%200-84.875%2038-84.875%2084.874%200%2015.378%204.091%2029.799%2011.241%2042.238%2014.646%2025.48%2042.137%2042.637%2073.634%2042.637%2031.555%200%2059.089-17.226%2073.714-42.781l-36.886-21.371%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.express-icon {
    width: 24px; 
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%3Cpath%20d%3D%22M126.67%2098.44c-4.56%201.16-7.38.05-9.91-3.75-5.68-8.51-11.95-16.63-18-24.9-.78-1.07-1.59-2.12-2.6-3.45C89%2076%2081.85%2085.2%2075.14%2094.77c-2.4%203.42-4.92%204.91-9.4%203.7l26.92-36.13L67.6%2029.71c4.31-.84%207.29-.41%209.93%203.45%205.83%208.52%2012.26%2016.63%2018.67%2025.21%206.45-8.55%2012.8-16.67%2018.8-25.11%202.41-3.42%205-4.72%209.33-3.46-3.28%204.35-6.49%208.63-9.72%2012.88-4.36%205.73-8.64%2011.53-13.16%2017.14-1.61%202-1.35%203.3.09%205.19C109.9%2076%20118.16%2087.1%20126.67%2098.44zM1.33%2061.74c.72-3.61%201.2-7.29%202.2-10.83%206-21.43%2030.6-30.34%2047.5-17.06C60.93%2041.64%2063.39%2052.62%2062.9%2065H7.1c-.84%2022.21%2015.15%2035.62%2035.53%2028.78%207.15-2.4%2011.36-8%2013.47-15%201.07-3.51%202.84-4.06%206.14-3.06-1.69%208.76-5.52%2016.08-13.52%2020.66-12%206.86-29.13%204.64-38.14-4.89C5.26%2085.89%203%2078.92%202%2071.39c-.15-1.2-.46-2.38-.7-3.57q.03-3.04.03-6.08zm5.87-1.49h50.43c-.33-16.06-10.33-27.47-24-27.57-15-.12-25.78%2011.02-26.43%2027.57z%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}